@import "tailwindcss";

:root {
  /* =========================
     Brand
     ========================= */

  --brand-blue: #003be2;
  --brand-blue-dark: #071e5f;

  --brand-lime: #cbfc01;
  --brand-lime-dark: #6a8902;

  /* =========================
     Neutral
     ========================= */

  --neutral-50: #f5f5f6;
  --neutral-100: #e5e6e8;
  --neutral-200: #ced0d3;
  --neutral-300: #abaeb5;
  --neutral-400: #82868e;
  --neutral-500: #666973;
  --neutral-600: #585a62;
  --neutral-700: #4b4c53;
  --neutral-800: #424348;
  --neutral-900: #3a3b3f;
  --neutral-950: #242528;

  /* =========================
     Semantic
     ========================= */

  --background: #ffffff;
  --foreground: #242528;

  --muted: #666973;
  --border: #e5e6e8;

  --primary: #cbfc01;
  --primary-foreground: #242528;

  --secondary: #003be2;
  --secondary-foreground: #ffffff;

  /* =========================
     Radius
     ========================= */

  --radius-sm: 0.375rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
  --radius-2xl: 1.25rem;
  --radius-full: 9999px;

  /* =========================
     Layout
     ========================= */

  --container-width: 1200px;
  --grid-gutter: 40px;
}
